/*border-black border flex flex-col items-center rounded-t-md cursor-pointer hover:opacity-80 transition duration-200 ease-out */

.container {
  border: black 1px solid;
  display: flex;
  flex-direction: column;
  justify-items: center;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  cursor: pointer;
}

.container:hover {
  opacity: 0.8;
  transition: all;
  transition-duration: 200ms;
  transition-timing-function: var(--ease-out);
}

.imageContainer {
  padding: 3rem;
  margin-top: auto;
  margin-bottom: auto;
}

.image {
  width: 100%;
}

/* text-2xl font-semibold text-gray-50 text-center py-3 bg-gray-900 self-stretch */

.title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  color: var(--gray-50);
  text-align: center;
  padding: 0.75rem 0;
  background-color: var(--gray-900);
  align-self: stretch;
}

@media (min-width: 768px) {
  
}